<h1>Witam!</h1>
<br>
<p>Stronę tę stworzyłem w związku z nauką programowania. Na razie jest to tylko pewien niewielki element tego co chciałbym, aby zamieniło się w pełnoprawną aplikację internetową, napisaną w języku JavaScript. Projekt ten mam zamiar rozwijać w miarę nauki, tak długo jak starczy mi sił do nauki (<u id="tech_btn" class="cursor">aktualnie używane technologie</u>). Planuję też rozwinąć go o kolejną mam nadzieję przydatną wam zawartość. Na tym etapie stworzyłem kalkulator należności. Mam nadzieję, że wam się on przyda.</p>
<br>
<h2>Powodzenia!</h2>