<h1>Kalkulator</h1>
<br>
<p> Ta część aplikacji jest aktualnie rozwijana. Pracuję nad tym by dodać kalkulator należności w przypadku ujawnienia paliwa używanego niezgodnie z przeznaczeniem, może obliczenia dla wina i piwa. Kursy walut są automatycznie pobierane z tabeli kursów NBP.<br>
Tak, wiem wartość celną spirytusu powinno się wyliczać na podstawie średnich kursów walut publikowanych przez MF (<a href="https://www.finanse.mf.gov.pl/clo/kursy-walut/kursy-dla-wartosci-celnej" target="_blank">link znajdziecie tutaj</a>). Niestety nie mam możliwości automatycznego pobrania tych danych. Pojazdy natomiast wyliczane są po kursie dnia na podstawie kursu NBP.</p>