<input type="radio" name="typ" id="typ_przemyt"><label for="typ_przemyt"><span></span>Przemyt</label>
<input type="radio" name="typ" id="typ_nabycie"><label for="typ_nabycie"><span></span>Nabycie</label>