<h2 id="kalkNazwa">Należności</h2>
<div id ="addBigBox">
</div>
<div class="kalkAddPozBox border">
    <h2>Suma:</h2>
    <p id="addSuma"></p>
    <div>
        <p id="addSumaPozNaglowek"></p>
        
        <p id="addSumaPozPapierosyI"></p>
        <p id="addSumaPozPapierosyII"></p>
        
        <p id="addSumaPozTytonI"></p>
        <p id="addSumaPozTytonII"></p>
        
        <p id="addSumaPozSpirytusI"></p>
        <p id="addSumaPozSpirytusII"></p>
        
        <p id="addSumaPozWodkaI"></p>
        <p id="addSumaPozWodkaII"></p>
    </div>
</div>
<div>
<div id="btn_druk" class="przyciski border">Drukuj</div>
<div id="btn_back" class="przyciski border">Powrót</div>
</div>

<script src="javascripts/kalk/zlicz.js"></script>
<script src="javascripts/kalk/kalkWspolne.js"></script>
