<!doctype html>
<html lang="pl">
<head>

    <% include partials/main/head.ejs %>

</head>
<body>
    <div id="wrapper" class="border">
        <% include partials/main/navi.ejs %>
        <main>
            <img src="images/construction.png">
        </main>
        <% include partials/main/footer.ejs %>
    </div>
</body>
</html>