<!doctype html>
<html lang="pl">
<head>

    <% include partials/main/head.ejs %>

</head>
<body>
    <div id="wrapper" class="border">
        <% include partials/main/navi.ejs %>
                <a href="kw" class="border kwkksLink"><h2>Kodeks Wykroczeń</h2></a>
                <a href="kks" class="border kwkksLink"><h2>Kodeks Karny Skarbowy</h2></a>
            <main>
                <p>W tej części aplikacji chcę zawrzeć informację pomocne głównie przy postępowaniach mandatowych zarówno z kks jak i z kw, tak aby była ona pomocna podczas pracy w terenie.
                W zakładce kw znajdziesz taryfikator, znaki drogowe, punkty karne oraz potrzebne przepisy.
                W zakładce kks znajdziesz to, co przydatne w związku z użyciem narzędzi, które umieściłem w zakładce kalkulator (to znaczy znajdziesz tu kwalifikację prawną czynów zabrononych dotyczących przemytu lub nabycia wyrobów akcyzowych).<p>            
            </main>
            
        <% include partials/main/footer.ejs %>
    </div>
</body>
</html>