<header>
    <nav id="toggle_menu" class="border">
            <a href="/" class="ukryj" id="nav1">Start</a>
            <a href="/kalkulator" class="ukryj" id="nav2">Kalkulator</a>
            <a href="/sent" class="ukryj" id="nav3">Sent</a>
            <a href="/kw-kks" class="ukryj" id="nav4">Kw/Kks</a>
            <a href="/transport" class="ukryj" id="nav5">Transport</a>
            <h1 id="navh1">Menu</h1>
            <img src="/images/menu.png" id="navArrow">
            <div class="clear"></div>
    </nav>
    <script src="/javascripts/nav.js"></script>
</header>