<div class="border" id="proMenu">
    <div class="border" id="btn_powrot">
        Powrót
    </div>
    <div class="border" id="btn_print">
        Drukuj
    </div>
    <div class="border" id="btn_kody">
        Kody
    </div>
</div>
<div id="kody2tab" class="border ukryj">
	<% include ../partials/kalkulator/kody.ejs%>
</div>
